.breadcrumb ul
  margin: 15px 0 10px;
  font-size: 1.2em;

.breadcrumb ul li
  margin-right: 7px;
  line-height: 1.9em;

.breadcrumb ul li i
  color: #369f0f;
  font-size: 1.5em;

.breadcrumb ul li a
  color: #369f0f;

.breadcrumb ul li a:hover
  text-decoration: underline;

.breadcrumb ul li span
  color: #E8E8E8;
  margin: 0 6px;
  font-size: 1.2em;
