footer
  border-top: 1px solid #333333;
  margin: 70px 0 20px 0;

footer .copyright, footer .version
  display: inline-block;
  color: #999999;
  font-size: 1.2em;
  margin-top: 20px;

footer .version
  float: right;
  font-weight: bold;
