.form-registration h2
  color: #333333;
  font-size: 3.4em;

.form-registration .row-inputs
  width: 100%;
  height: 100px;

.form-registration .row-inputs p.help-block
  color: red;

.form-registration .row-inputs .radiobox,
.form-registration .row-inputs .checkbox
  width: 149px;
  float: left;
  font-size: 1.6em;
  line-height: 1.8em;
  margin-top: 17px;

.form-registration .row-inputs .checkbox
  width: 80px;
  color: #666666 !important;
  margin-top: 12px;

.form-registration .row-inputs label,
.form-registration .row-inputs h4
  width: 100%;
  font-size: 1.4em;
  font-weight: bold;
  color: #333333;
  float: left;
  margin-bottom: 5px;

.form-registration .row-inputs label span,
.form-registration .row-inputs h4 span
  color: #999999;
  font-size: 0.8em;
  float: right;
  font-weight: normal;

.form-registration .row-inputs .daysWeek
  margin-top: 40px !important;

.form-registration .row-inputs label.radio-checkbox
  width: auto !important;

.form-registration .row-inputs input[type="text"],
.form-registration .row-inputs input[type="email"]
  width: 100%;
  border: 2px solid #DBDBDB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.6em;
  padding: 5px 0;
  margin-top: 5px;

.form-registration .row-inputs input[type="text"]:focus,
.form-registration .row-inputs input[type="email"]:focus
  border: 2px solid #369f0f;
  outline: none;

.form-registration .row-inputs .help-input
  width: 100%;
  margin-top: 10px;
  color: #999999;
  font-size: 1.2em;

.form-registration .row-inputs .btn-save, .form-registration .row-inputs .btn-cancel
  float: right;
  font-size: 1.4em;
  padding: 7px 25px;
  background: #999999;
  color: #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 45px;

.form-registration .row-inputs .btn-save
  background: #369f0f;
  color: #fff;
  margin-left: 15px;

.form-registration .fields-right
  float: right;


#btn-save:disabled
    background: #6BAF52;
