header
  margin-top: 8px;
  border-bottom: 1px solid #333333;
  overflow: hidden;

header .menu-title .menu
  margin-left: -6px;

header .menu-title .menu i
  color: #369f0f;
  font-size: 2em;

header .menu-title h1
  display: inline-block;
  color: #333333;
  margin-left: 5px;

header .data-user
  float: right;
  color: #333333;
  font-size: 1.4em;
  margin: 11px 0 0 ;
  text-align: right;

header .data-user i
  color: #369f0f;
  font-size: 1.5em;
  margin-right: 10px;

header .data-user a
  color: #333333;

header .data-user a:hover
  color: #369f0f;
  text-decoration: underline;

