.section-info-page
  float: left;
  width: 100%;
  background: #f0f0f0;
  border-top: 1px solid #DBDBDB;
  margin-bottom: 50px;

.section-info-page .data-info-page,
.section-info-page .responsabily
  color: #999999;
  margin: 31px 0 20px;

.section-info-page .data-info-page i,
.section-info-page .responsabily i
  font-size: 4em;
  float: left;
  margin-right: 15px;

.section-info-page .data-info-page h3,
.section-info-page .responsabily h3
  display: inline-block;
  font-size: 1.2em;
  width: 100px;
  margin: 3px 0 5px;
  font-weight: normal;

.section-info-page .data-info-page span,
.section-info-page .responsabily span
  font-size: 1.5em;
  color: #333333;
  font-weight: bold;
  width: 100px;

.section-info-page .info-mode
  width: 200px;

.section-info-page .responsabily
  float: right;
  text-align: right;
  margin-right: 0;
  width: 134px;

.section-info-page .responsabily i,
.section-info-page .responsabily span
  color: #369f0f;

.section-info-page .responsabily h3,
.section-info-page .responsabily span
  float: left;
  text-align: left;
  width: auto;
