a
  text-decoration: none;

button
  cursor: pointer;
  border: none;
  background: none;

button:focus
  outline: 0 !important;

ul
  margin: 0;
  padding: 0;

ul li
  list-style-type: none;
  float: left;

.hidden
  display: none;

body
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Helvetica', Arial;
  color: #666666;
  min-width: 1200px;