.bikers h2
  color: #333333;
  font-size: 3.4em;

.bikers header
  background: #369f0f;
  padding: 25px 10px 15px;
  color: #fff;
  font-size: 1.2em;

.bikers .list-bikers
  padding: 20px 0 32px 10px;
  font-size: 1.4em;
  color: #333333;
  line-height: 1.4em;

.bikers .list-bikers .button-delete
  margin-right: 5px;

.bikers .list-bikers .button-delete button
  display: none;
  font-size: 1.2em;
  margin-top: -6px;

.bikers .list-bikers .hour
  color: #999999;
  font-size: 0.8em;
  margin-left: 3px;

.bikers .list-bikers:hover
  background: #C5DFBC;

.bikers .row-background
  background: #F4F4F4;

.bikers .row-mouse-over
  background: #C5DFBC;


.list-bikers:hover > .button-delete .btn-delete
  display: block !important;


