.help
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  margin-bottom: 30px;

.help header
  background: #f0f0f0;
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px solid #dbdbdb;

.help header h3
  display: inline-block;
  color: #333333;
  font-size: 1.5em;
  margin: 0 0 0 15px;

.help header .open, .help header .close
  border: none;
  background: none;
  color: #369f0f;
  float: right;
  margin-right: 15px;

.help .content-help-open
  display: block !important;

.help .content-help
  display: none;
  padding: 15px;
  font-size: 1.3em;
  line-height: 1.4em;

.help .content-help i
  font-size: 9em;
  float: left;
  color: #999999;
  margin: 0 25px 10px 0;


.error-form
  color: red;
  border: 1px solid red;

