<!DOCTYPE html>
<html ng-app="app">
<head lang="pt-br">
	<meta charset="utf-8">
	<title>App Bikers</title>
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/app.min.css">
</head>
<body ng-controller="BikersController" >

	<!-- header -->
	<header>
		<div class="container_12">
			<div class="menu-title grid_4">
				<button class="menu"><i class="fa fa-bars"></i></button>
				<h1>App Bikers</h1>
			</div>
			<div class="data-user grid_2">
				<i class="fa fa-user"></i>John | <a href="#">Logout</a>
			</div>
		</div>
	</header>

	<!-- breadcrumb -->
	<nav class="breadcrumb container_12">
		<ul id="nav-list-breadcrumb" class="grid_5">
			<li><i class="fa fa-home"></i> <span> <i class="fa fa-angle-right"></i> </span></li>
			<li><a href="#page1">Page 1</a> <span> <i class="fa fa-angle-right"></i> </span> </li>
			<li><a href="#page2">Page 2</a> <span> <i class="fa fa-angle-right"></i> </span></li>
			<li>Current Page</li>
		</ul>
	</nav>

	<!-- info -->
	<section class="section-info-page" id="section-info-page">
		<div class="container_12">
			<div class="grid_2 data-info-page">
				<i class="fa fa-puzzle-piece"></i>
				<h3>Sector</h3>
				<span>Sports</span>
			</div>
			<div class="grid_2 data-info-page">
				<i class="fa fa-futbol-o"></i>
				<h3>Sport Type</h3>
				<span>Bycicles</span>
			</div>
			<div class="grid_3 data-info-page info-mode">
				<i class="fa fa-bicycle"></i>
				<h3>Mode</h3>
				<span>Mountain Cross</span>
			</div>
			<div class="grid_2 responsabily">
				<i class="fa fa-recycle"></i>
				<h3>Responsability</h3>
				<span>Be Green!</span>
			</div>
		</div>
	</section>

	<!-- widget help -->
	<section class="help container_12">
		<header id="header-help">
			<h3>Help</h3>
			<button class="open">Open <i class="fa fa-long-arrow-down"></i> </button>
			<button class="close hidden">Close <i class="fa fa-long-arrow-up"></i> </button>
		</header>
		<div class="content-help" id="content-help">
			<p><i class="fa fa-life-ring"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget pulvinar nunc. Integer posuere pellentesque nibh, at porta risus aliquet vitae. Proin pellentesque felis nulla, sed elementum lacus euismod porta. Nunc sem nisi, sagittis a metus non, rhoncus tempor ipsum. Nunc augue sem, gravida a eros eu, posuere volutpat lacus. Integer luctus diam ut quam vehicula, sit amet porttitor enim sodales.</p>
			<p>Proin ut condimentum leo. Aenean at ultricies turpis, eu molestie orci. Phasellus nulla dui, lacinia vel aliquam nec, hendrerit nec arcu. Ut imperdiet nulla nisl, sit amet pulvinar massa tempor sed. In eu facilisis risus, id venenatis ante. In vel fermentum risus. Ut eget quam in tortor condimentum commodo. Nunc mi lorem, dapibus facilisis lectus at, vestibulum faucibus metus.</p>
		</div>
	</section>
 

	<!-- form user create account -->
	<section class="form-registration container_12" id="form-registration">
		<h2>User registration</h2>
		<form name="bikerForm" ng-submit="submitForm(bikerForm.$valid)" novalidate>
			<div class="grid_5" id="fields-left">
				<div class="row-inputs">
					<label for="name">Full name</label>
					<p ng-show="bikerForm.name.$invalid && !bikerForm.name.$pristine" class="help-block">You name is required.</p>
					<input type="text" name="name" id="name" ng-model="input.name" required>
					<div class="help-input">Enter your full name</div>
				</div>
				<div class="row-inputs">
					<p ng-show="bikerForm.email.$invalid && !bikerForm.email.$pristine" class="help-block">Enter a valid email.</p>
					<label for="email">E-mail</label>
					<input type="email" name="email" id="email" ng-model="input.email" value="" required>
					<div class="help-input">Enter your email</div>
				</div>
				<div class="row-inputs">
					<label for="city">City <span>optional</span></label>
					<input type="text" name="city" id="city" ng-model="input.city">
					<div class="help-input">Enter your city</div>
				</div>
			</div>

			<!-- Questions form -->
			<div class="grid_6 fields-right">
				<div class="row-inputs">
					<h4>Ride in group</h4>
						<div class="radiobox">
							<input type="radio" name="ride-group" ng-model="input.rideGroup" value="Always" class="regular-radio" required/>
							<label class="radio-checkbox" for="always"></label>
							Always
						</div>

						<div class="radiobox">
							<input type="radio" name="ride-group" ng-model="input.rideGroup" value="Sometimes" class="regular-radio" required/>
							<label for="sometimes" class="radio-checkbox"></label>
							Sometimes
						</div>

						<div class="radiobox">
							<input type="radio" name="ride-group" ng-model="input.rideGroup" value="Never" class="regular-radio" required/>
							<label for="never" class="radio-checkbox"></label>
							Never
						</div>
				</div>

				<div class="row-inputs">
					<h4 class="daysWeek">Days of the week</h4> 
					<p ng-show="daysChoosed == false" class="help-block">Chose a day of week.</p>
					<div class="checkbox" ng-repeat="day in days track by $index">
						<input type="checkbox" ng-model="day.selected" ng-checked="filterDay();" class="css-checkbox" />
						<label for="{{day.name}}" class="css-label lite-green-check">{{day.name}}</label>
					</div>
				</div>
						
				<div class="row-inputs">
					<button id="btn-save" ng-click="addBiker(input);" class="btn-save" ng-disabled="bikerForm.$invalid || !daysChoosed()">Save</button>
					
					<button id="btn-cancel" type="reset" class="btn-cancel">Cancel</button>
				</div>
			</div>
		</form>
	</section>


	<section class="bikers container_12">
		<h2>Bikers</h2>
		<header class="header-bikers">
			<div class="grid_2">Full name</div>
			<div class="grid_2">E-mail</div>
			<div class="grid_1">City</div>
			<div class="grid_2">Ride in group</div>
			<div class="grid_2">Days of de week</div>
			<div class="grid_2">Registration day</div>
			<div class="grid_1"></div>
		</header>

		<div class="list-bikers" ng-repeat="biker in bikers track by $index" ng-class-odd="'row-background'">
			<div class="grid_2"><span ng-bind='biker.name'></span></div>
			<div class="grid_2"><span ng-bind='biker.email'></span></div>
			<div class="grid_1"><span ng-bind='biker.city'></span></div>
			<div class="grid_2"><span ng-bind='biker.rideGroup'></span></div>
			<div class="grid_2"><span ng-bind='biker.daysOfWeek'></span></div>
			<div class="grid_2">
				<span ng-bind='biker.date.split(" ")[0]'></span>
				<span class='hour'><span ng-bind='biker.date.split(" ")[1]'><span></span>
			</div>
			<div class="grid_1 button-delete">
				<button class="btn-delete" ng-click="delete($index)"><i class="fa fa-trash-o"></i></button>
			</div>
		</div>
	</section>


	<footer>
		<div class="container_12">
			<div class="copyright">Venturus Dummy 2014</div>
			<div class="version">Version1.14</div>
		</div>
	</footer>


	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angularjs/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/widgets.js"></script>
</body>
</html>
